.side-nav-content {
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color: #041725;
    color: lightgrey;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    font-size: 2rem;

}

ul {
    list-style: none;
    padding-left: 1rem;
    text-align: center;
  }

  .menu-button-container{
   /* background-color: #002b5c; */
   background-color: #041725;
    color: lightgrey;
  }

  .menu-button li{
    color: lightgrey;
    text-align: center;
  }