<div class="header-container">
    <mat-toolbar class="m-toolbar">
        <div class="logo-cont">
            <img class="logopic" src="/assets/WINSO_LOGO_1800x600px.jpg" alt="logo" width="180" height="60" />
        
            <p style="color:white ;">OASIS DELIVERY</p>
        </div>
        <div class="city-ddc">
            <mat-form-field class="city-dd">
                <mat-label>Select your City</mat-label>
                <mat-select [(value)]="selectedCity" >
                    <mat-option *ngFor="let city of cities; let i = index" [value]="city">{{city}}</mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div class="icons-cont">
                <fa-icon [icon]="faCircle"></fa-icon>
                 <!-- uses solid style #041725 -->
        </div>
    </mat-toolbar>
</div>


