<router-outlet>
<!-- Toolbar -->
<div class="toolbar" role="banner">
 <app-header-menu></app-header-menu>
</div>

<div class="content" role="main">
<app-main-menu></app-main-menu>
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <app-category-menu></app-category-menu>

  </div>

  <div class="card-container">
  <app-shop-by-occasions-menu></app-shop-by-occasions-menu>

  </div>

  <div class="card-container">

  </div>

<app-best-selling-menu></app-best-selling-menu>

  <!-- Footer -->
  <footer>

  </footer>


</div>


</router-outlet>
